<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>

	  <section   name="daabProviders" 
	     type="GotDotNet.ApplicationBlocks.Data.DAABSectionHandler,GotDotNet.ApplicationBlocks.Data">
	  </section>
    </configSections>
            <appSettings>
            <add key="ConnectionString" value="URI=file:../database/cocktail.db,version=3" />
        </appSettings>
        
          		<daabProviders>
		<daabProvider alias="mainDB" assembly="GotDotNet.ApplicationBlocks.Data" type="GotDotNet.ApplicationBlocks.Data.SqliteServer" />
		</daabProviders>
    
</configuration>
